/* Inserta tu CSS aqui */
.grande{
    background: green;
    width: 1000px;
    height: 500px;
    margin-left: 150px;
    margin-top: 50px;
    position: fixed;
}
.mediana{
    width: 950px;
    height: 450px;
    background: green;
    position: absolute;
    margin: 25px;
    border: 2px solid #cecaca;
    
}
.arco1{
    width: 100px;
    height: 200px;
    position: relative;
    margin-top: 120px;
    border: 2px solid #cecaca;
}
.arco2{
    width: 100px;
    height: 200px;
    position: relative;
    margin-left: 850px;
    border: 2px solid #cecaca;
    bottom: 200px
}
.circulo{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    bottom: 130px;
    margin-left: 375px;
    border: 2px solid #cecaca;
}
.bola1{
    position: absolute;
    left: 90px;
    top: 125px;
}
.bola2{
    position: absolute;
    left: 490px;
    bottom: 400px;
    
}
.bola3{
    position: absolute;
    left: 820px;
    bottom: 120px;
}